---
import tailwindIcon from "../assets/icons/techs/tailwind-css.svg"
import css3Icon from "../assets/icons/techs/css3-alt.svg"
import html5Icon from "../assets/icons/techs/html5.svg"
import jsIcon from "../assets/icons/techs/js.svg"
import jqueryIcon from "../assets/icons/techs/jquery1.svg"

import projectImage from "../assets/images/projects/xiaomi-fake-page.png"
---

<section class=" px-4 py-8 md:py-24 flex flex-col gap-12 text-start justify-center items-start font-Syne md:max-w-4xl md:m-auto md:w-full">
    <header class="sectionHeaderTitle">
        <span class="erlingSubtitle relative">
            <span class="sectionSubTitle">Projects</span>
        </span>
        <h3 class="sectionTitle font-semibold">Projects</h3>
    </header>
    <section class="flex flex-col justify-center items-end gap-24 py-8">

        <article class="flex gap-6 flex-col justify-center items-start text-start">
            <header class="inline-flex flex-col sm:flex-row items-start sm:items-center gap-2 sm:gap-4">
                <h3 class="text-2xl font-semibold">Xiaomi Fake Page</h3>
                <div class="inline-flex flex-wrap justify-start items-center gap-2 border border-[#6b6b6b] py-1.5 px-2 rounded-lg [&>*]:w-4 [&>*]:h-4">
                    <img src={tailwindIcon?.src} alt="tailwind icon">
                    <img src={css3Icon?.src} alt="css3 icon">
                    <img src={html5Icon?.src} alt="html5 icon">
                    <img src={jsIcon?.src} alt="js icon">
                    <img class="!w-8 !h-6" src={jqueryIcon?.src} alt="jquery svg icon">
                </div>
            </header>
            <div>
                <a class="w-full md:max-w-md xl:max-w-2xl block" target="_blank" href="https://xiaomi-page.vercel.app">
                    <img class="size-full rounded-md " src={projectImage?.src} alt="#">
                </a>
            </div>
            <footer class="flex flex-col items-start gap-4">
                <p class="max-w-lg text-base md:text-lg text-balance">Página web para practicar
                    componetización con JavaScript puro junto a TailwindCSS.</p>
                <div class="flex flex-row items-center justify-center gap-4">
                    <a class="border border-[#c2c2c25c] hover:border-[#c7c7c7] rounded-lg px-2 py-1 transition-colors duration-500 bg-[#fff] hover:bg-[#a0a0a05c]"
                        href="https://xiaomi-page.vercel.app" target="_blank">Probar</a>
                    <a class="border border-[#c2c2c25c] hover:border-[#c7c7c7] rounded-lg px-2 py-1 transition-colors duration-500 bg-[#fff] hover:bg-[#a0a0a05c]"
                        href="https://github.com/FabrizioJordan/xiaomiPage" target="_blank">Ver Código</a>
                </div>
            </footer>
        </article>

    </section>
</section>